* {
	box-sizing: border-box;
	max-width: 720px;
	margin: auto;
}

body {
	background-color: #e6e6e6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.title {
	width: 100%;
	text-align: center;
	margin-top: 40px;
	background-color : #ffffff;
	border           : 1px solid #888;
}

.menu {
	display: flex;
}

.option {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-left: 4px;
	margin-right: 4px;
	/*border: 4px solid;*/
	background-color : #ffffff;
	border           : 1px solid #888;
}

.content {
	width: 100%;
	text-align: justify;
	margin-top: 10px;
	/*border: 4px solid;*/
	border           : 1px solid #888;
	background-color : #ffffff;
}