* {
	box-sizing: border-box;
}

.title {
	width: 100%;
	text-align: center;
	border: 4px solid;
}

.menu {
	display: flex;
}

.option {
	width: 100%;
	text-align: center;
	border: 4px solid;
}

.content {
	width: 100%;
	text-align: justify;
	border: 4px solid;
}